In [1]:
import pandas as pd
import glob
import os

In [2]:
column_map = {
    'Country or region': 'Country',
    'Country': 'Country',
    'Dystopia.Residual': 'Dystopia Residual',
    'Economy..GDP.per.Capita.':'GDP per capita',
    'Economy (GDP per Capita)':'GDP per capita',
    'Family':'Social support',
    'Freedom to make life choices':'Freedom',
    'Happiness.Rank':'Overall rank',
    'Happiness Rank':'Overall rank',
    'Happiness.Score':'Score ',
    'Health..Life.Expectancy.':'Health',
    'Health (life expectancy)': 'Health',
    'Healthy life expectancy': 'Health',
    'Health (Life Expectancy)': 'Health',
    'Happiness Score': 'Score',
    'Trust (Government Corruption)': 'Perceptions of corruption',
    'Trust..Government.Corruption.': 'Perceptions of corruption',
    'Happiness.Score': 'Score'
}

In [3]:
all_files = glob.glob(r"C:\Users\pauli\Downloads\WorldHapinessReport\*.csv")

#append on files in folder into one data frame
#add column for a year of report
#map column names
dfs = []
columns_to_save = ['Country', 'Region', 'Overall rank', 'Dystopia Residual', 'GDP per capita', 'Social support', 'Freedom', 'Score',
                   'Health', 'Perceptions of corruption', 'Report_Year', 'Generosity']
for file in all_files:
    df = pd.read_csv(file)
    filename = os.path.basename(file)
    year = int(os.path.splitext(filename)[0])
    df.rename(columns=column_map, inplace=True)
    df["Report_Year"] = year
    df = df[[col for col in columns_to_save if col in df.columns]]
    dfs.append(df)

df = pd.concat(dfs, ignore_index=True)

df

,Country,Region,Overall rank,Dystopia Residual,GDP per capita,Social support,Freedom,Score,Health,Perceptions of corruption,Report_Year,Generosity
0,Switzerland,Western Europe,1,2.51738,1.39651,1.34951,0.66557,7.587,0.94143,0.41978,2015,0.29678
1,Iceland,Western Europe,2,2.70201,1.30232,1.40223,0.62877,7.561,0.94784,0.14145,2015,0.43630
2,Denmark,Western Europe,3,2.49204,1.32548,1.36058,0.64938,7.527,0.87464,0.48357,2015,0.34139
3,Norway,Western Europe,4,2.46531,1.45900,1.33095,0.66973,7.522,0.88521,0.36503,2015,0.34699
4,Canada,North America,5,2.45176,1.32629,1.32261,0.63297,7.427,0.90563,0.32957,2015,0.45811
...,...,...,...,...,...,...,...,...,...,...,...,...
777,Rwanda,NaN,152,NaN,0.35900,0.71100,0.55500,3.334,0.61400,0.41100,2019,0.21700
778,Tanzania,NaN,153,NaN,0.47600,0.88500,0.41700,3.231,0.49900,0.14700,2019,0.27600
779,Afghanistan,NaN,154,NaN,0.35000,0.51700,0.00000,3.203,0.36100,0.02500,2019,0.15800
780,Central African Republic,NaN,155,NaN,0.02600,0.00000,0.22500,3.083,0.10500,0.03500,2019,0.23500
781,South Sudan,NaN,156,NaN,0.30600,0.57500,0.01000,2.853,0.29500,0.09100,2019,0.20200

In [4]:
#dane dla regionu sa brakujace w latach 2017-2019, stworzenie dodatkowego df dla zmapowania
df_country_region = df[df['Report_Year'].isin([2015, 2016])][['Country', 'Region']].drop_duplicates()
df_country_region

               Country                       Region
0          Switzerland               Western Europe
1              Iceland               Western Europe
2              Denmark               Western Europe
3               Norway               Western Europe
4               Canada                North America
..                 ...                          ...
209             Belize  Latin America and Caribbean
233            Somalia           Sub-Saharan Africa
254  Somaliland Region           Sub-Saharan Africa
270            Namibia           Sub-Saharan Africa
300        South Sudan           Sub-Saharan Africa

[164 rows x 2 columns]

In [5]:
#uzupelnienie wartosci NaN w kolumnie Region na podstawie mapowania
df['Region'] = df['Region'].fillna(df['Country'].map(df_country_region.set_index('Country')['Region']))

In [6]:
print(df)

                      Country              Region  Overall rank  \
0                 Switzerland      Western Europe             1
1                     Iceland      Western Europe             2
2                     Denmark      Western Europe             3
3                      Norway      Western Europe             4
4                      Canada       North America             5
..                        ...                 ...           ...
777                    Rwanda  Sub-Saharan Africa           152
778                  Tanzania  Sub-Saharan Africa           153
779               Afghanistan       Southern Asia           154
780  Central African Republic  Sub-Saharan Africa           155
781               South Sudan  Sub-Saharan Africa           156

     Dystopia Residual  GDP per capita  Social support  Freedom  Score  \
0              2.51738         1.39651         1.34951  0.66557  7.587
1              2.70201         1.30232         1.40223  0.62877  7.561
2              2.49204         1.32548         1.36058  0.64938  7.527
3              2.46531         1.45900         1.33095  0.66973  7.522
4              2.45176         1.32629         1.32261  0.63297  7.427
..                 ...             ...             ...      ...    ...
777                NaN         0.35900         0.71100  0.55500  3.334
778                NaN         0.47600         0.88500  0.41700  3.231
779                NaN         0.35000         0.51700  0.00000  3.203
780                NaN         0.02600         0.00000  0.22500  3.083
781                NaN         0.30600         0.57500  0.01000  2.853

      Health  Perceptions of corruption  Report_Year  Generosity
0    0.94143                    0.41978         2015     0.29678
1    0.94784                    0.14145         2015     0.43630
2    0.87464                    0.48357         2015     0.34139
3    0.88521                    0.36503         2015     0.34699
4    0.90563                    0.32957         2015     0.45811
..       ...                        ...          ...         ...
777  0.61400                    0.41100         2019     0.21700
778  0.49900                    0.14700         2019     0.27600
779  0.36100                    0.02500         2019     0.15800
780  0.10500                    0.03500         2019     0.23500
781  0.29500                    0.09100         2019     0.20200

[782 rows x 12 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    782 non-null    object
 1   Region                     774 non-null    object
 2   Overall rank               782 non-null    int64
 3   Dystopia Residual          470 non-null    float64
 4   GDP per capita             782 non-null    float64
 5   Social support             782 non-null    float64
 6   Freedom                    782 non-null    float64
 7   Score                      782 non-null    float64
 8   Health                     782 non-null    float64
 9   Perceptions of corruption  781 non-null    float64
 10  Report_Year                782 non-null    int64
 11  Generosity                 782 non-null    float64
dtypes: float64(8), int64(2), object(2)
memory usage: 73.4+ KB

In [8]:
print(df.loc[df['Region'].isnull()])

                      Country Region  Overall rank  Dystopia Residual  \
347  Taiwan Province of China    NaN            33           2.126607
385   Hong Kong S.A.R., China    NaN            71           0.554633
507         Trinidad & Tobago    NaN            38                NaN
527           Northern Cyprus    NaN            58                NaN
664         Trinidad & Tobago    NaN            39                NaN
689           Northern Cyprus    NaN            64                NaN
709           North Macedonia    NaN            84                NaN
745                    Gambia    NaN           120                NaN

     GDP per capita  Social support   Freedom  Score    Health  \
347        1.433627        1.384565  0.361467  6.422  0.793984
385        1.551675        1.262791  0.490969  5.472  0.943062
507        1.223000        1.492000  0.575000  6.192  0.564000
527        1.229000        1.211000  0.495000  5.835  0.909000
664        1.231000        1.477000  0.489000  6.192  0.713000
689        1.263000        1.252000  0.417000  5.718  1.042000
709        0.983000        1.294000  0.345000  5.274  0.838000
745        0.308000        0.939000  0.382000  4.516  0.428000

     Perceptions of corruption  Report_Year  Generosity
347                   0.063829         2017    0.258360
385                   0.293934         2017    0.374466
507                   0.019000         2018    0.171000
527                   0.154000         2018    0.179000
664                   0.016000         2019    0.185000
689                   0.162000         2019    0.191000
709                   0.034000         2019    0.185000
745                   0.167000         2019    0.269000

In [9]:
manual_region_map = {
    'Taiwan Province of China':'Eastern Asia',
    'Hong Kong S.A.R., China':'Eastern Asia',
    'Northern Cyprus':'Western Europe',
    'Trinidad & Tobago':'Latin America and Caribbean',
    'North Macedonia':'Central and Eastern Europe',
    'Gambia':'Sub-Saharan Africa'
}

In [10]:
df['Region'] = df['Region'].fillna(df['Country'].map(manual_region_map))

In [11]:
print(df.loc[df['Region'].isnull()])

Empty DataFrame
Columns: [Country, Region, Overall rank, Dystopia Residual, GDP per capita, Social support, Freedom, Score, Health, Perceptions of corruption, Report_Year, Generosity]
Index: []