In [1]:
import pandas as pd
import glob
import os

In [2]:
column_map = {
    'Country or region': 'Country',
    'Country': 'Country',
    'Dystopia.Residual': 'Dystopia_Residual',
    'Dystopia Residual': 'Dystopia_Residual',
    'Economy..GDP.per.Capita.':'GDP_per_capita',
    'Economy (GDP per Capita)':'GDP_per_capita',
    'GDP per capita':'GDP_per_capita',
    'Family':'Social_Support',
    'Social support':'Social_Support',
    'Freedom to make life choices':'Freedom',
    'Happiness.Rank':'Overall_Rank',
    'Happiness Rank':'Overall_Rank',
    'Overall rank':"Overall_Rank",
    'Happiness.Score':'Score ',
    'Health..Life.Expectancy.':'Health',
    'Health (life expectancy)': 'Health',
    'Healthy life expectancy': 'Health',
    'Health (Life Expectancy)': 'Health',
    'Happiness Score': 'Score',
    'Trust (Government Corruption)': 'Perceptions_of_Corruption',
    'Trust..Government.Corruption.': 'Perceptions_of_Corruption',
    'Perceptions of corruption': 'Perceptions_of_Corruption',
    'Happiness Score': 'Score'
}

In [3]:
all_files = glob.glob(r"C:\Users\pauli\Downloads\WorldHapinessReport\*.csv")

#append on files in folder into one data frame
#add column for a year of report
#map column names
dfs = []
columns_to_save = ['Country', 'Region', 'Overall_Rank', 'Dystopia_Residual', 'GDP_per_capita', 'Social_Support', 'Freedom', 'Score',
                   'Health', 'Perceptions_of_Corruption', 'Report_Year', 'Generosity']
for file in all_files:
    df = pd.read_csv(file)
    filename = os.path.basename(file)
    year = int(os.path.splitext(filename)[0])
    df.rename(columns=column_map, inplace=True)
    df["Report_Year"] = year
    df = df[[col for col in columns_to_save if col in df.columns]]
    dfs.append(df)

df = pd.concat(dfs, ignore_index=True)

df

,Country,Region,Overall_Rank,Dystopia_Residual,GDP_per_capita,Social_Support,Freedom,Score,Health,Perceptions_of_Corruption,Report_Year,Generosity
0,Switzerland,Western Europe,1,2.51738,1.39651,1.34951,0.66557,7.587,0.94143,0.41978,2015,0.29678
1,Iceland,Western Europe,2,2.70201,1.30232,1.40223,0.62877,7.561,0.94784,0.14145,2015,0.43630
2,Denmark,Western Europe,3,2.49204,1.32548,1.36058,0.64938,7.527,0.87464,0.48357,2015,0.34139
3,Norway,Western Europe,4,2.46531,1.45900,1.33095,0.66973,7.522,0.88521,0.36503,2015,0.34699
4,Canada,North America,5,2.45176,1.32629,1.32261,0.63297,7.427,0.90563,0.32957,2015,0.45811
...,...,...,...,...,...,...,...,...,...,...,...,...
777,Rwanda,NaN,152,NaN,0.35900,0.71100,0.55500,3.334,0.61400,0.41100,2019,0.21700
778,Tanzania,NaN,153,NaN,0.47600,0.88500,0.41700,3.231,0.49900,0.14700,2019,0.27600
779,Afghanistan,NaN,154,NaN,0.35000,0.51700,0.00000,3.203,0.36100,0.02500,2019,0.15800
780,Central African Republic,NaN,155,NaN,0.02600,0.00000,0.22500,3.083,0.10500,0.03500,2019,0.23500
781,South Sudan,NaN,156,NaN,0.30600,0.57500,0.01000,2.853,0.29500,0.09100,2019,0.20200

In [4]:
#dane dla regionu sa brakujace w latach 2017-2019, stworzenie dodatkowego df dla zmapowania
df_country_region = df[df['Report_Year'].isin([2015, 2016])][['Country', 'Region']].drop_duplicates()
df_country_region

               Country                       Region
0          Switzerland               Western Europe
1              Iceland               Western Europe
2              Denmark               Western Europe
3               Norway               Western Europe
4               Canada                North America
..                 ...                          ...
209             Belize  Latin America and Caribbean
233            Somalia           Sub-Saharan Africa
254  Somaliland Region           Sub-Saharan Africa
270            Namibia           Sub-Saharan Africa
300        South Sudan           Sub-Saharan Africa

[164 rows x 2 columns]

In [5]:
#uzupelnienie wartosci NaN w kolumnie Region na podstawie mapowania
df['Region'] = df['Region'].fillna(df['Country'].map(df_country_region.set_index('Country')['Region']))

In [6]:
print(df)

                      Country              Region  Overall_Rank  \
0                 Switzerland      Western Europe             1
1                     Iceland      Western Europe             2
2                     Denmark      Western Europe             3
3                      Norway      Western Europe             4
4                      Canada       North America             5
..                        ...                 ...           ...
777                    Rwanda  Sub-Saharan Africa           152
778                  Tanzania  Sub-Saharan Africa           153
779               Afghanistan       Southern Asia           154
780  Central African Republic  Sub-Saharan Africa           155
781               South Sudan  Sub-Saharan Africa           156

     Dystopia_Residual  GDP_per_capita  Social_Support  Freedom  Score  \
0              2.51738         1.39651         1.34951  0.66557  7.587
1              2.70201         1.30232         1.40223  0.62877  7.561
2              2.49204         1.32548         1.36058  0.64938  7.527
3              2.46531         1.45900         1.33095  0.66973  7.522
4              2.45176         1.32629         1.32261  0.63297  7.427
..                 ...             ...             ...      ...    ...
777                NaN         0.35900         0.71100  0.55500  3.334
778                NaN         0.47600         0.88500  0.41700  3.231
779                NaN         0.35000         0.51700  0.00000  3.203
780                NaN         0.02600         0.00000  0.22500  3.083
781                NaN         0.30600         0.57500  0.01000  2.853

      Health  Perceptions_of_Corruption  Report_Year  Generosity
0    0.94143                    0.41978         2015     0.29678
1    0.94784                    0.14145         2015     0.43630
2    0.87464                    0.48357         2015     0.34139
3    0.88521                    0.36503         2015     0.34699
4    0.90563                    0.32957         2015     0.45811
..       ...                        ...          ...         ...
777  0.61400                    0.41100         2019     0.21700
778  0.49900                    0.14700         2019     0.27600
779  0.36100                    0.02500         2019     0.15800
780  0.10500                    0.03500         2019     0.23500
781  0.29500                    0.09100         2019     0.20200

[782 rows x 12 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    782 non-null    object
 1   Region                     774 non-null    object
 2   Overall_Rank               782 non-null    int64
 3   Dystopia_Residual          470 non-null    float64
 4   GDP_per_capita             782 non-null    float64
 5   Social_Support             782 non-null    float64
 6   Freedom                    782 non-null    float64
 7   Score                      627 non-null    float64
 8   Health                     782 non-null    float64
 9   Perceptions_of_Corruption  781 non-null    float64
 10  Report_Year                782 non-null    int64
 11  Generosity                 782 non-null    float64
dtypes: float64(8), int64(2), object(2)
memory usage: 73.4+ KB

In [8]:
print(df.loc[df['Region'].isnull()])

                      Country Region  Overall_Rank  Dystopia_Residual  \
347  Taiwan Province of China    NaN            33           2.126607
385   Hong Kong S.A.R., China    NaN            71           0.554633
507         Trinidad & Tobago    NaN            38                NaN
527           Northern Cyprus    NaN            58                NaN
664         Trinidad & Tobago    NaN            39                NaN
689           Northern Cyprus    NaN            64                NaN
709           North Macedonia    NaN            84                NaN
745                    Gambia    NaN           120                NaN

     GDP_per_capita  Social_Support   Freedom  Score    Health  \
347        1.433627        1.384565  0.361467    NaN  0.793984
385        1.551675        1.262791  0.490969    NaN  0.943062
507        1.223000        1.492000  0.575000  6.192  0.564000
527        1.229000        1.211000  0.495000  5.835  0.909000
664        1.231000        1.477000  0.489000  6.192  0.713000
689        1.263000        1.252000  0.417000  5.718  1.042000
709        0.983000        1.294000  0.345000  5.274  0.838000
745        0.308000        0.939000  0.382000  4.516  0.428000

     Perceptions_of_Corruption  Report_Year  Generosity
347                   0.063829         2017    0.258360
385                   0.293934         2017    0.374466
507                   0.019000         2018    0.171000
527                   0.154000         2018    0.179000
664                   0.016000         2019    0.185000
689                   0.162000         2019    0.191000
709                   0.034000         2019    0.185000
745                   0.167000         2019    0.269000

In [9]:
manual_region_map = {
    'Taiwan Province of China':'Eastern Asia',
    'Hong Kong S.A.R., China':'Eastern Asia',
    'Northern Cyprus':'Western Europe',
    'Trinidad & Tobago':'Latin America and Caribbean',
    'North Macedonia':'Central and Eastern Europe',
    'Gambia':'Sub-Saharan Africa'
}

In [10]:
df['Region'] = df['Region'].fillna(df['Country'].map(manual_region_map))

In [11]:
print(df.loc[df['Region'].isnull()])

Empty DataFrame
Columns: [Country, Region, Overall_Rank, Dystopia_Residual, GDP_per_capita, Social_Support, Freedom, Score, Health, Perceptions_of_Corruption, Report_Year, Generosity]
Index: []

In [12]:
#Top 10 2015 vs 2019

df_top_10 = df[((df['Report_Year'] == 2015) | (df['Report_Year'] == 2019)) & (df['Overall_Rank'] <= 10)][['Country', 'Overall_Rank','Report_Year']]
df_top_10

         Country  Overall_Rank  Report_Year
0    Switzerland             1         2015
1        Iceland             2         2015
2        Denmark             3         2015
3         Norway             4         2015
4         Canada             5         2015
5        Finland             6         2015
6    Netherlands             7         2015
7         Sweden             8         2015
8    New Zealand             9         2015
9      Australia            10         2015
626      Finland             1         2019
627      Denmark             2         2019
628       Norway             3         2019
629      Iceland             4         2019
630  Netherlands             5         2019
631  Switzerland             6         2019
632       Sweden             7         2019
633  New Zealand             8         2019
634       Canada             9         2019
635      Austria            10         2019

In [13]:
pivot_df = df_top_10.pivot(index='Overall_Rank', columns='Report_Year', values='Country').sort_index()
pivot_df.columns = ['Country_2015', 'Country_2019']

#pivot_df = df_top_10.pivot(index='Overall_Rank', columns='Report_Year', values='Country')

In [14]:
top10_2015 = set(pivot_df['Country_2015'])
top10_2019 = set(pivot_df['Country_2019'])

In [15]:
dropped_countries = top10_2015 - top10_2019
dropped_countries

{'Australia'}

In [16]:
new_countries = top10_2019 - top10_2015
new_countries

{'Austria'}

Between 2015 and 2019 there were not that many changes in Top 10 countries. The only country that left the ranking was Australia which was replaced by Austria.

In [17]:
#funkcja do tworzenie pivotow na przestrzeni lat

def create_pivot(data, indexCol, columnsCol, valuesCol, reset_index=True, aggfunc='first'):
    df_wide = pd.pivot_table(data = data, index = indexCol, columns = columnsCol, values = valuesCol, aggfunc = aggfunc)
    #spÅ‚aszczanie kolumn jesli pivotowana jest wiÄ™cej niÅ¼ jedna wartoÅ›Ä‡
    if isinstance(df_wide.columns, pd.MultiIndex):
        df_wide.columns = [f"{col1}_{col2}" for col1, col2 in df_wide.columns]
    else:
        df_wide.columns = [str(col) for col in df_wide.columns]
            
    if reset_index:
        df_wide = df_wide.reset_index()
    return df_wide

In [18]:
years_diff = create_pivot(df, 'Country', 'Report_Year', 'Overall_Rank')

In [19]:
years_diff

         Country   2015   2016   2017   2018   2019
0    Afghanistan  153.0  154.0  141.0  145.0  154.0
1        Albania   95.0  109.0  109.0  112.0  107.0
2        Algeria   68.0   38.0   53.0   84.0   88.0
3         Angola  137.0  141.0  140.0  142.0    NaN
4      Argentina   30.0   26.0   24.0   29.0   47.0
..           ...    ...    ...    ...    ...    ...
165    Venezuela   23.0   44.0   82.0  102.0  108.0
166      Vietnam   75.0   96.0   94.0   95.0   94.0
167        Yemen  136.0  147.0  146.0  152.0  151.0
168       Zambia   85.0  106.0  116.0  125.0  138.0
169     Zimbabwe  115.0  131.0  138.0  144.0  146.0

[170 rows x 6 columns]

In [20]:
years_diff['2015-19_diff'] = years_diff['2019'] - years_diff['2015']

In [21]:
df_2015_2019_only = df[(df['Report_Year'] == 2015) | (df['Report_Year'] == 2019)]
top_changes_down = years_diff.nlargest(10, '2015-19_diff')
top_changes_up = years_diff.nsmallest(10, '2015-19_diff')
df_changes_up = df_2015_2019_only.merge(top_changes_up['Country'], on='Country', how = 'inner')
df_changes_down = df_2015_2019_only.merge(top_changes_down['Country'], on='Country', how = 'inner')

In [22]:
top_changes_down

        Country   2015   2016   2017   2018   2019  2015-19_diff
165   Venezuela   23.0   44.0   82.0  102.0  108.0          85.0
168      Zambia   85.0  106.0  116.0  125.0  138.0          53.0
81      Lesotho   97.0    NaN  139.0  141.0  144.0          47.0
143   Swaziland  101.0    NaN    NaN    NaN  135.0          34.0
169    Zimbabwe  115.0  131.0  138.0  144.0  146.0          31.0
99   Mozambique   94.0    NaN  113.0  123.0  123.0          29.0
56        Haiti  119.0  136.0  145.0  148.0  147.0          28.0
82      Liberia  116.0  150.0  148.0  149.0  141.0          25.0
62        India  117.0  118.0  122.0  133.0  140.0          23.0
11      Belarus   59.0   61.0   67.0   73.0   81.0          22.0

In [23]:
df_changes_up

,Country,Region,Overall_Rank,Dystopia_Residual,GDP_per_capita,Social_Support,Freedom,Score,Health,Perceptions_of_Corruption,Report_Year,Generosity
0,Romania,Central and Eastern Europe,86,1.93129,1.04345,0.88588,0.35068,5.124,0.76890,0.00649,2015,0.13748
1,Hungary,Central and Eastern Europe,104,1.24074,1.12094,1.20215,0.32112,4.800,0.75905,0.02758,2015,0.12800
2,Honduras,Latin America and Caribbean,105,1.84408,0.59532,0.95348,0.40148,4.788,0.69510,0.06825,2015,0.23027
3,Cameroon,Sub-Saharan Africa,133,1.95071,0.42250,0.88767,0.49309,4.252,0.23402,0.05786,2015,0.20618
4,Bulgaria,Central and Eastern Europe,134,0.89991,1.01216,1.10614,0.30587,4.218,0.76649,0.00872,2015,0.11921
5,Gabon,Sub-Saharan Africa,143,0.99895,1.06024,0.90528,0.31914,3.896,0.43372,0.11091,2015,0.06822
6,Cambodia,Southeastern Asia,145,0.98195,0.46038,0.62736,0.66246,3.819,0.61114,0.07247,2015,0.40359
7,Ivory Coast,Sub-Saharan Africa,151,1.41723,0.46534,0.77115,0.46866,3.655,0.15185,0.17922,2015,0.20165
8,Burkina Faso,Sub-Saharan Africa,152,1.46494,0.25812,0.85188,0.39493,3.587,0.27125,0.12832,2015,0.21747
9,Benin,Sub-Saharan Africa,155,1.63328,0.28665,0.35386,0.48450,3.340,0.31910,0.08010,2015,0.18260
10,Romania,Central and Eastern Europe,48,NaN,1.16200,1.23200,0.46200,6.070,0.82500,0.00500,2019,0.08300
11,Honduras,Latin America and Caribbean,59,NaN,0.64200,1.23600,0.50700,5.860,0.82800,0.07800,2019,0.24600
12,Hungary,Central and Eastern Europe,62,NaN,1.20100,1.41000,0.19900,5.758,0.82800,0.02000,2019,0.08100
13,Cameroon,Sub-Saharan Africa,96,NaN,0.54900,0.91000,0.38100,5.044,0.33100,0.03700,2019,0.18700
14,Bulgaria,Central and Eastern Europe,97,NaN,1.09200,1.51300,0.31100,5.011,0.81500,0.00400,2019,0.08100
15,Ivory Coast,Sub-Saharan Africa,99,NaN,0.56900,0.80800,0.35200,4.944,0.23200,0.09000,2019,0.15400
16,Benin,Sub-Saharan Africa,102,NaN,0.39300,0.43700,0.34900,4.883,0.39700,0.08200,2019,0.17500
17,Gabon,Sub-Saharan Africa,104,NaN,1.05700,1.18300,0.29500,4.799,0.57100,0.05500,2019,0.04300
18,Cambodia,Southeastern Asia,109,NaN,0.57400,1.12200,0.60900,4.700,0.63700,0.06200,2019,0.23200
19,Burkina Faso,Sub-Saharan Africa,115,NaN,0.33100,1.05600,0.25500,4.587,0.38000,0.11300,2019,0.17700

In [24]:
indicators = ['GDP_per_capita', 'Social_Support', 'Freedom', 'Health','Perceptions_of_Corruption', 'Generosity']
top_10_changes_up = create_pivot(df_changes_up, 'Country', "Report_Year", indicators)

In [25]:
for indicator in indicators:
    col_2015 = f"{indicator}_2015"
    col_2019 = f"{indicator}_2019"
    top_10_changes_up[f"{indicator}_diff"] = top_10_changes_up[col_2019] - top_10_changes_up[col_2015]

In [26]:
top_10_changes_up = top_10_changes_up.merge(years_diff[['Country', '2015-19_diff']], on='Country', how='left')

In [27]:
top_10_changes_up

,Country,Freedom_2015,Freedom_2019,GDP_per_capita_2015,GDP_per_capita_2019,Generosity_2015,Generosity_2019,Health_2015,Health_2019,Perceptions_of_Corruption_2015,Perceptions_of_Corruption_2019,Social_Support_2015,Social_Support_2019,GDP_per_capita_diff,Social_Support_diff,Freedom_diff,Health_diff,Perceptions_of_Corruption_diff,Generosity_diff,2015-19_diff
0,Benin,0.48450,0.349,0.28665,0.393,0.18260,0.175,0.31910,0.397,0.08010,0.082,0.35386,0.437,0.10635,0.08314,-0.13550,0.07790,0.00190,-0.00760,-53.0
1,Bulgaria,0.30587,0.311,1.01216,1.092,0.11921,0.081,0.76649,0.815,0.00872,0.004,1.10614,1.513,0.07984,0.40686,0.00513,0.04851,-0.00472,-0.03821,-37.0
2,Burkina Faso,0.39493,0.255,0.25812,0.331,0.21747,0.177,0.27125,0.380,0.12832,0.113,0.85188,1.056,0.07288,0.20412,-0.13993,0.10875,-0.01532,-0.04047,-37.0
3,Cambodia,0.66246,0.609,0.46038,0.574,0.40359,0.232,0.61114,0.637,0.07247,0.062,0.62736,1.122,0.11362,0.49464,-0.05346,0.02586,-0.01047,-0.17159,-36.0
4,Cameroon,0.49309,0.381,0.42250,0.549,0.20618,0.187,0.23402,0.331,0.05786,0.037,0.88767,0.910,0.12650,0.02233,-0.11209,0.09698,-0.02086,-0.01918,-37.0
5,Gabon,0.31914,0.295,1.06024,1.057,0.06822,0.043,0.43372,0.571,0.11091,0.055,0.90528,1.183,-0.00324,0.27772,-0.02414,0.13728,-0.05591,-0.02522,-39.0
6,Honduras,0.40148,0.507,0.59532,0.642,0.23027,0.246,0.69510,0.828,0.06825,0.078,0.95348,1.236,0.04668,0.28252,0.10552,0.13290,0.00975,0.01573,-46.0
7,Hungary,0.32112,0.199,1.12094,1.201,0.12800,0.081,0.75905,0.828,0.02758,0.020,1.20215,1.410,0.08006,0.20785,-0.12212,0.06895,-0.00758,-0.04700,-42.0
8,Ivory Coast,0.46866,0.352,0.46534,0.569,0.20165,0.154,0.15185,0.232,0.17922,0.090,0.77115,0.808,0.10366,0.03685,-0.11666,0.08015,-0.08922,-0.04765,-52.0
9,Romania,0.35068,0.462,1.04345,1.162,0.13748,0.083,0.76890,0.825,0.00649,0.005,0.88588,1.232,0.11855,0.34612,0.11132,0.05610,-0.00149,-0.05448,-38.0

In [28]:
diff_cols = [col for col in top_10_changes_up.columns if col.endswith('_diff') and col != '2015-19_diff']

correlations = top_10_changes_up[diff_cols + ['2015-19_diff']].corr()['2015-19_diff'].drop('2015-19_diff')
correlations

GDP_per_capita_diff              -0.045844
Social_Support_diff               0.574675
Freedom_diff                      0.215700
Health_diff                      -0.180856
Perceptions_of_Corruption_diff    0.255977
Generosity_diff                  -0.411058
Name: 2015-19_diff, dtype: float64